@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body,
p,
a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #1E1E1E;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #000000;
}

.btn-primary {
  background-color: #85BC03;
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  border: none;
}

.btn-secondary {
  background-color: #7F8287;
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  border: none;
}

/* -- --------------------
Sroll To Top on Click 
----------------------
*/
.scrollToTop {
  z-index: 9999;
  text-align: center;
  background: #85BC03;
  color: #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none !important;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.scrollToTop.d-block {
  display: block !important;
}
.scrollToTop button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollToTop button i {
  padding: 3px;
  font-size: 18px;
  color: #fff;
}
.scrollToTop:hover {
  text-decoration: none;
  background-color: #85BC03;
}

/* -- --------------------
tap-call 
----------------------
*/
.mobile-call-button {
  position: fixed;
  bottom: 80px;
  right: 30px;
  text-align: center;
  z-index: 99;
  width: 40px;
  height: 40px;
  background: #85BC03;
  border-radius: 50%;
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-call-button {
    display: block;
  }
}
.mobile-call-button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-call-button a i {
  padding: 3px;
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .scrollToTop,
  .mobile-call-button {
    right: 10px;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: block;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  transition: 0.4s all;
}

p {
  line-height: 1.5;
}

a {
  color: #8D8D8D;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: block;
  overflow: hidden;
  transition: 0.4s all;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  outline: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border-right {
  border-right: none !important;
}

.no-border-left {
  border-left: none !important;
}

.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.padding {
  padding: 40px 0;
}

@media screen and (max-width: 767px) {
  .padding {
    padding: 30px 0;
  }
}
@media screen and (max-width: 576px) {
  .padding {
    padding: 15px 0;
  }
}
@media screen and (max-width: 480px) {
  .padding {
    padding: 10px 0;
  }
}
section {
  position: relative;
}

.section-padding {
  padding: 80px 0px;
}

.block-heading {
  font-size: 28px;
  color: #1E1E1E;
  font-weight: 700;
}

.main-description {
  font-size: 18px;
  color: #000000;
}

.sub-description {
  font-size: 16px;
  color: #8D8D8D;
}

@media screen and (max-width: 992px) {
  .section-padding {
    padding: 40px 0px;
  }
}
@media screen and (max-width: 576px) {
  .section-padding {
    padding: 30px 0px;
  }
}
.breadcrumb {
  background-color: #000000;
  padding: 180px 0px 100px 0px;
  margin: 0px;
}
.breadcrumb .breadcrumb-title {
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
}

header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}
header .navbar {
  padding: 15px 0px;
}
header .navbar .navbar-brand {
  width: 200px;
}
header .navbar .navbar-toggler {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #8D8D8D;
}
header .navbar .offcanvas .offcanvas-header img {
  width: 180px;
}
header .navbar .offcanvas .offcanvas-body {
  justify-content: flex-end;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  padding: 0 15px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.active .nav-link, header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item:hover .nav-link {
  color: #B2EE25;
}
header .navbar .offcanvas .offcanvas-body .nav-btn {
  margin-left: 40px;
}
header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  background-image: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.082);
}
header.fixed-header .navbar {
  padding: 10px 0px;
}
header.fixed-header .navbar .navbar-brand {
  width: 120px;
}
header.fixed-header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: #1E1E1E;
}
header.fixed-header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.active .nav-link, header.fixed-header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item:hover .nav-link {
  color: #B2EE25;
}
header.fixed-header .navbar .offcanvas .offcanvas-body .nav-btn {
  margin-left: 40px;
}

@media screen and (max-width: 992px) {
  header .navbar {
    padding: 10px 0px;
  }
  header .navbar .navbar-brand {
    width: 180px;
  }
  header .navbar .navbar-toggler {
    border-radius: 10px;
  }
  header .navbar .offcanvas .blur-hero {
    display: block;
  }
  header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
    padding: 5px 10px;
    color: #1E1E1E;
  }
  header .navbar .offcanvas .offcanvas-body .nav-btn {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.banner {
  background-image: url("../images/banner-bg.png");
  padding: 0px 0px 60px 0px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9333333333);
  z-index: 1;
}
.banner .hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}
.banner .hero-banner .hero-baner-content {
  width: 48%;
  margin: 20px 0px;
}
.banner .hero-banner .hero-baner-content .baner-title {
  font-size: 58px;
  color: #85BC03;
  line-height: 1.1;
}
.banner .hero-banner .hero-baner-content .baner-title span {
  color: #1E1E1E;
}
.banner .hero-banner .hero-baner-content .main-description {
  padding: 20px 0px;
}
.banner .hero-banner .hero-baner-content .banner-btn .btn-primary {
  border-radius: 5px 5px 5px 30px;
  margin-right: 30px;
}
.banner .hero-banner .hero-baner-content .banner-btn .btn-primary:hover {
  border-radius: 5px 30px 5px 5px;
}
.banner .hero-banner .hero-baner-content .banner-btn .btn-secondary {
  border-radius: 5px 30px 5px 5px;
}
.banner .hero-banner .hero-baner-content .banner-btn .btn-secondary:hover {
  border-radius: 5px 5px 5px 30px;
}
.banner .hero-banner .hero-banner-image {
  width: 40%;
  height: 600px;
}
.banner .hero-banner .hero-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 10px 200px;
}
.banner .hero-banner .hero-banner-image img:hover {
  margin-top: 10px;
  border-radius: 10px 10px 10px 200px;
}

@media screen and (max-width: 992px) {
  .banner {
    padding: 80px 0px 30px 0px;
  }
  .banner .hero-banner {
    flex-direction: column;
  }
  .banner .hero-banner .hero-baner-content {
    width: 100%;
    margin: 20px 0px;
  }
  .banner .hero-banner .hero-baner-content .baner-title {
    font-size: 38px;
  }
  .banner .hero-banner .hero-baner-content .main-description {
    padding: 20px 0px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-primary {
    border-radius: 5px 5px 5px 30px;
    margin-right: 30px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-primary:hover {
    border-radius: 5px 30px 5px 5px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-secondary {
    border-radius: 5px 30px 5px 5px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-secondary:hover {
    border-radius: 5px 5px 5px 30px;
  }
  .banner .hero-banner .hero-banner-image {
    width: 100%;
    height: 300px;
  }
  .banner .hero-banner .hero-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 200px;
  }
  .banner .hero-banner .hero-banner-image img:hover {
    margin-top: 10px;
  }
}
.index-about {
  background-color: #3b5998;
}

.index-service {
  background-color: #125688;
}

.index-testimonial {
  background-color: #d34836;
}

footer {
  background-color: #F4F5F5;
}
footer .footer-content-block {
  padding-right: 70px;
}
footer .footer-block .logo img {
  width: 200px;
}
footer .footer-block .main-description {
  color: #8D8D8D;
  margin: 20px 0px;
}
footer .footer-block .social-icon {
  display: flex;
}
footer .footer-block .social-icon a i {
  font-size: 40px;
  margin-right: 20px;
  color: #85BC03;
  transition: 0.3s ease-in-out;
}
footer .footer-block .social-icon a i:hover {
  color: #B2EE25;
}
footer .footer-block .block-heading {
  margin-bottom: 20px;
}
footer .footer-block .footer-nav .footer-nav-item .footer-nav-link {
  font-size: 16px;
  color: #8D8D8D;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .footer-block .footer-nav .footer-nav-item .footer-nav-link:hover {
  color: #1E1E1E;
}
footer .footer-block .footer-nav .footer-nav-item .footer-nav-link i {
  color: #85BC03;
  font-size: 24px;
  margin-right: 5px;
}
footer .footer-bottom {
  margin-top: 30px;
}
footer .footer-bottom .block {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-bottom .block p {
  font-family: cursive;
  font-size: 14px;
  font-weight: 600;
  color: #1E1E1E;
}
footer .footer-bottom .block a {
  padding: 0px 3px;
  font-family: cursive;
  color: #85BC03;
  font-size: 16px;
  font-weight: 600;
}
footer .footer-bottom .block a:hover {
  color: #B2EE25;
}

.about-page {
  background-color: #85BC03;
}

.blog-page {
  padding: 100px 0px 0px 0px;
}
.blog-page .blur-hero {
  top: 30%;
}
.blog-page .top-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.blog-page .top-articles .articles-items {
  position: relative;
  width: calc(50% - 20px);
  height: 100%;
  padding: 40px;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
}
.blog-page .top-articles .articles-items .articles-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog-page .top-articles .articles-items .articles-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-page .top-articles .articles-items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 51, 63, 0.644);
  z-index: 1;
}
.blog-page .top-articles .articles-items .articles-content {
  position: relative;
  z-index: 9;
}
.blog-page .top-articles .articles-items .articles-content .common-heading,
.blog-page .top-articles .articles-items .articles-content .common-description {
  color: #fff;
}
.blog-page .blog-part {
  margin-top: 80px;
}
.blog-page .blog-part .blog-collection {
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}
.blog-page .blog-part .blog-collection .blog-item {
  flex-basis: 32%;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.123);
  padding: 20px;
  background-color: #fff;
}
.blog-page .blog-part .blog-collection .blog-item img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 20px;
}
.blog-page .blog-part .blog-collection .blog-item .date {
  color: #1E1E1E;
  margin-top: 10px;
  font-weight: 600;
  border-bottom: 2px solid #1E1E1E;
  display: inline;
}
.blog-page .blog-part .blog-collection .blog-item .common-overview-title {
  padding: 10px 0px;
}
.blog-page .blog-part .blog-collection .blog-item:hover img {
  scale: 1.01;
}

@media screen and (max-width: 992px) {
  .blog-page .top-articles .articles-items {
    width: calc(100% - 20px);
    padding: 20px;
    border-radius: 20px;
  }
  .blog-page .top-articles .articles-items .articles-content {
    position: relative;
    z-index: 9;
  }
  .blog-page .top-articles .articles-items .articles-content .common-heading,
  .blog-page .top-articles .articles-items .articles-content .common-description {
    color: #fff;
  }
  .blog-page .blog-part {
    margin-top: 30px;
  }
  .blog-page .blog-part .blog-collection {
    padding-top: 30px;
    flex-wrap: wrap;
  }
  .blog-page .blog-part .blog-collection .blog-item {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .blog-page .blog-part .blog-collection .blog-item img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
  }
  .blog-page .blog-part .blog-collection .blog-item .date {
    color: #1E1E1E;
    margin-top: 10px;
    font-weight: 600;
    border-bottom: 2px solid #1E1E1E;
    display: inline;
  }
  .blog-page .blog-part .blog-collection .blog-item .common-overview-title {
    padding: 10px 0px;
  }
  .blog-page .blog-part .blog-collection .blog-item:hover img {
    scale: 1.01;
  }
}
.blogpost-page {
  padding: 100px 0px 0px 0px;
}
.blogpost-page .blur-hero {
  top: 30%;
}
.blogpost-page .articles-items {
  width: 100%;
}
.blogpost-page .articles-items .articles-img {
  width: 100%;
  border-radius: 20px;
  height: 75vh;
  overflow: hidden;
  margin: auto;
}
.blogpost-page .articles-items .articles-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogpost-page .articles-items .date {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  margin: 30px 0px 10px 0px;
}
.blogpost-page .articles-items .common-overview-description {
  margin: 20px 0px;
}

@media screen and (max-width: 992px) {
  .blogpost-page .articles-items {
    width: 100%;
  }
  .blogpost-page .articles-items .articles-img {
    height: 45vh;
  }
}
@media screen and (max-width: 576px) {
  .blogpost-page .articles-items {
    width: 100%;
  }
  .blogpost-page .articles-items .articles-img {
    height: 35vh;
  }
}
.page-contact {
  padding: 100px 0px 0px 0px;
}
.page-contact .blur-hero {
  top: 30%;
}
.page-contact .hero-page-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-contact .hero-page-contact .hero-page-contact-content {
  width: 48%;
  margin: 20px 0px;
}
.page-contact .hero-page-contact .hero-page-contact-content .hero-contact-image {
  width: 100%;
}
.page-contact .hero-page-contact .hero-page-contact-form {
  width: 38%;
}
.page-contact .hero-page-contact .hero-page-contact-form form input, .page-contact .hero-page-contact .hero-page-contact-form form textarea {
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
  border-right: 1px solid #000000;
  padding: 7px;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .page-contact {
    padding: 70px 0px 0px 0px;
  }
  .page-contact .hero-page-contact {
    flex-direction: column;
  }
  .page-contact .hero-page-contact .hero-page-contact-content {
    width: 100%;
  }
  .page-contact .hero-page-contact .hero-page-contact-content .hero-contact-image {
    display: none;
  }
  .page-contact .hero-page-contact .hero-page-contact-form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
