//Fonts
$roboto: "Roboto", sans-serif;
$roboto-flex: "Roboto Flex", sans-serif;



// common variale 
$facebook: #3b5998;
$twitter: #55acee;
$gplus: #d34836;
$linkedin: #0077b5;
$skype: #0078ca;
$youtube: #cc181e;
$instagram: #125688;

//website  Colors variable
$primaryColor: #85BC03;
$liteprimaryColor: #B2EE25;
$secondaryColor: #1E1E1E;
$black: #000000;
$t-color: #8D8D8D;
$white: #fff;
$bg: #F4F5F5;