.breadcrumb {
  background-color: $black;
  padding: 180px 0px 100px 0px;
  margin: 0px;

  .breadcrumb-title {
    color: $white;
    text-align: center;
    font-size: 38px;
    font-weight: 500;

  }
}