section {
  position: relative;
}



.section-padding {
  padding: 80px 0px;
}

.block-heading {
  font-size: 28px;
  color: $secondaryColor;
  font-weight: 700;

}

.main-description {
  font-size: 18px;
  color: $black;
}

.sub-description {
  font-size: 16px;
  color: $t-color;
}











@include custom_max(992px) {



  .section-padding {
    padding: 40px 0px;
  }


}

@include custom_max(576px) {

  .section-padding {
    padding: 30px 0px;
  }

}